.section-1{
   
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    box-shadow: 10px 5px 5px red;
    background-size:100% 100%;
background-image: url('https://media.istockphoto.com/photos/fluttering-silk-flag-of-united-states-of-america-old-glory-in-the-picture-id1133809617');
}
.innerdiv{
    height:400px;
    width: 500px;
    background-color: brown;
    opacity: 0.7;
}
.second-innerdiv{
    background-color: #1F4690;
}
.section-2{
   
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size:100% 100%;
background-image: url('https://media.istockphoto.com/photos/motion-blurred-picture-of-a-gay-rainbow-flag-during-pride-parade-of-picture-id831744374?k=20&m=831744374&s=170667a&w=0&h=lJ_nFh9Rc86Y2P7fdb_brwSJQOpiy_WIXFzfAjmf26g=');
}
.section-4{
    background-color: #1F4690;
    height: 300px;
    width: 100vw;
}
body{
    overflow-x: hidden;
}